@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
.mr-sm {
  margin-bottom: 1.5rem; }

.mr-md {
  margin-bottom: 3rem; }

.mr-lg {
  margin-bottom: 6rem; }

.text-center {
  text-align: center; }

.pd-sm {
  padding: .3rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  line-height: 1.7; }

.container {
  display: grid;
  grid-template-rows: 8rem 80vh repeat(2, min-content) 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(14rem, 1fr) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1 {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase; }
  @media (max-width: 62.5em) {
    .heading-1 {
      font-size: 6rem;
      letter-spacing: .1rem; } }
  @media (max-width: 37.5em) {
    .heading-1 {
      font-size: 6rem; } }

.heading-2 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  text-transform: uppercase; }

.heading-3 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase; }
  .heading-3-white {
    color: #fff;
    font-size: 2.8rem;
    letter-spacing: .3rem; }
    @media (max-width: 62.5em) {
      .heading-3-white {
        font-size: 2rem; } }
  .heading-3-black {
    font-size: 1.8rem;
    color: #555;
    text-align: center; }

.heading-4 {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: flex;
  align-items: center; }
  .heading-4 span {
    display: inline-block;
    font-size: 3rem;
    color: #fff;
    height: 4rem;
    width: 4rem;
    border: 2px solid #e02728;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(to right bottom, #e02728, #7E1842);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-right: 2rem;
    padding-bottom: 1rem; }
  .heading-4-left {
    text-align: left;
    margin-left: -13rem;
    margin-bottom: 2rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none; }

.btn--primary {
  padding: 1.8rem 4rem;
  background-image: linear-gradient(to right bottom, #e02728, #7E1842);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  outline: 1px solid #fff;
  outline-offset: -1rem;
  border-radius: .3rem; }

.btn--discover {
  padding: 1.8rem 3.5rem;
  background-image: linear-gradient(to right bottom, #e02728, #7E1842);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  outline: 1px solid #fff;
  outline-offset: -1rem;
  border-radius: .3rem; }

.highlight {
  position: relative;
  color: #fff;
  padding: .5rem; }
  .highlight::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom, #e02728, #7E1842);
    z-index: -1;
    transform: skewX(-15deg); }

.primary-menu__list {
  list-style: none;
  display: flex; }
  .primary-menu__list > * {
    height: 100%;
    align-self: stretch; }

.primary-menu__item {
  align-self: stretch; }
  .primary-menu__item:not(:last-child) {
    margin-right: 3rem; }

.primary-menu__item:hover {
  background-color: #777; }

.primary-menu__link:link, .primary-menu__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #545454;
  height: 100%; }

.user-nav__list {
  list-style: none;
  display: flex;
  align-items: center; }

.user-nav__item:not(:last-child) {
  margin-right: 1.5rem; }

.user-nav__icon {
  height: 2.3rem;
  width: 2.3rem; }

.user-nav__user {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%; }

.about {
  background-color: #f2f2f2;
  grid-column: full-start / full-end;
  padding: 8rem 0;
  z-index: -2; }
  .about__text {
    font-size: 1.5rem;
    width: 50%;
    margin-left: 25%;
    text-align: center; }

.categories {
  grid-column: center-start / center-end;
  padding: 8rem 0; }
  .categories__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2.8rem; }
  .categories__cta {
    margin-top: 6rem;
    text-align: center; }

.category {
  border: 1px solid #dad6d6;
  border-radius: .3rem; }
  .category__img {
    width: 100%; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }

.header {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: .3rem;
  grid-column: full-start / full-end;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header__logo {
    height: 6rem; }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/hero-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  position: relative; }
  .hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.meals {
  background-color: palevioletred;
  grid-column: center-start / center-end; }

.mobile {
  background-color: #f2f2f2;
  grid-column: full-start / full-end;
  padding: 8rem 0; }
  .mobile__container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center; }
  .mobile__img-box {
    overflow: hidden;
    margin-right: 3rem;
    margin-left: 3rem; }
  .mobile__img {
    display: inline-block;
    height: 50rem; }
  .mobile__features {
    display: flex;
    flex-direction: column; }
    .mobile__features-1 {
      margin-right: 3rem; }
    .mobile__features-2 {
      margin-left: 3rem; }
  .mobile__feature {
    margin-bottom: 3rem; }
    .mobile__feature-text {
      font-size: 1.5rem;
      padding-left: 6rem; }
    .mobile__feature__cta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .mobile__feature__cta--buttons:link, .mobile__feature__cta--buttons:visited {
        display: inline-block;
        text-decoration: none; }
      .mobile__feature__cta-img {
        display: inline-block;
        height: 5rem; }
        .mobile__feature__cta-img-1 {
          margin-right: .8rem;
          margin-left: 3rem; }

.subscription {
  background-color: powderblue;
  grid-column: full-start / full-end; }
