
// FONT 
$primary-font: 'Lato', sans-serif;
$heading-font: 'Playfair Display', serif;


// COLORS
$color-white: #fff;  
$color-dark-grey: #545454;


$color-primary: #e02728;
$color-secondary: #7E1842;     

$primary-dark-red: #B23121;
$primary-light-red: #D44638;