.highlight {
    position: relative;
    color: #fff;
    padding: .5rem;

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;   
        width: 100%;
        background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
        z-index: -1;
        transform: skewX(-15deg); 
    }
}
