.primary-menu {

    &__list {
        list-style: none;
        display: flex;

        & > * {
            height: 100%;
            align-self: stretch;
        }
    }

   

    &__item {
        align-self: stretch;
        height: 100%;
        transition: all .4s;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__item-active,
    &__item:hover {
       background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
    }

    &__link {
        
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $color-dark-grey;
            height: 100%;   
            padding: 2.7rem 1rem;
        }
    }

    &__item:hover &__link {
        color: #fff; 
    }

    &__item-active &__link {
        color: #fff !important;
    }
}