.primary-menu {

    &__list {
        list-style: none;
        display: flex;

        & > * {
            height: 100%;
            align-self: stretch;
        }
    }

   

    &__item {
        align-self: stretch;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__item:hover {
        background-color: #777;
    }

    &__link {
        
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $color-dark-grey;
            height: 100%;
        }
    }
}