.user-nav {

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

    } 

    &__icon {
        height: 2.3rem;
        width: 2.3rem;
    }

    &__user {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
}  