@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

.heading-1 {
    font-family: $heading-font;
    font-size: 8rem;   
    color: #fff;
    text-transform: uppercase;

  
    @include respond(bp-large) {
       font-size: 6rem;
       letter-spacing: .1rem;  
    } 

        
    @include respond(bp-small) {
        font-size: 6rem;
    }  


}

.heading-2 {
    font-size: 3rem;
    font-family: $heading-font;
    text-transform: uppercase;
}

.heading-3 {
    font-family: $heading-font;
    text-transform: uppercase;
 
    &-white {
        color: #fff;
        font-size: 2.8rem; 
        letter-spacing: .3rem; 

        @include respond(bp-large) {
            font-size: 2rem;
        }  
    }

    &-black {
        font-size: 1.8rem; 
        color: #555;  
        text-align: center; 
    }
}  

.heading-4 {
    font-family: $heading-font;
    font-size: 1.6rem;
    text-transform: uppercase; 

    display: flex;
    align-items: center;

  
 
    span {
        display: inline-block;
        font-size: 3rem; 
        color: #fff;
        height: 4rem;
        width: 4rem;
        border: 2px solid $color-primary; 
        border-radius: 50%;
        text-align: center;
        background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);

        display: flex; 
        align-items: center;
        justify-items: center;  
        justify-content: center;
        margin-right: 2rem; 
        padding-bottom: 1rem;
    }
          
}   