.header {
    background-color: rgba($color-white, .9);
    margin-top: 3rem;
    padding: 4rem 0;  
    border-radius: .3rem;
    grid-column: center-start / center-end;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    &__logo-box {

    } 
   
    &__logo {
        height: 6rem;
    } 
}              