.mobile { 
    background-color: #f2f2f2;
    grid-column: full-start / full-end; 

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    &__img-box {
       overflow: hidden;
       margin-right: 3rem;
       margin-left: 3rem;
    }

    &__img {
        display: inline-block;
        height: 50rem; 
    }

    &__features {
       display: flex;
       flex-direction: column;
       
       &-1 {
        margin-right: 3rem;
       }

       &-2 {
           margin-left: 3rem;
       }
    }

    &__feature {
        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        &-text {
            font-size: 1.5rem;
            padding-left: 6rem;
        }
    }
}  