.mobile { 
    background-color: #f2f2f2;
    grid-column: full-start / full-end; 

    display: flex;
    justify-content: center;


    &__img-box {

    }

    &__img {
        height: 80rem;
    }

    &__feature {
       
    }
}